<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis criptos - {{title}}</title>
        <link rel="icon" href="/static/images/icono.png" type="image/png">
        <link rel="stylesheet" href="/static/pico.css">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header id="header">
            <p class="container">MIS CRYPTOS</p>
        </header>
        <div id="bloque">
        <nav class="container">
            <ul>
                <li><a href="/" {% if route == "/" %} class="deactivate" {% endif %}>Mis movimientos</a></li> <!--hacemos el if para si está en esa url se convierte en clase deactivate y se anula el link-->
                <li><a href="/purchase" {% if route == "/purchase" %} class="deactivate" {% endif %}>Trading</a></li>
                <li><a href="/status" {% if route == "/status" %} class="deactivate" {% endif %}>Wallet</a></li>
            </ul>
        </nav>
        {% with msgs = get_flashed_messages() %}
            {% if msgs %}
                <div class="container" id="errores">
                {%for msg in msgs %}
                <p>{{msg}} </p>
                {% endfor %}
                </div> 
            {% endif %} 
        {% endwith %}

        <main class="container">
            {% block content %}{%endblock%}
        </main>
        </div>
        <footer>
            <p class="container">&copy; 2023  -  Carles Espuñes</p>
        </footer>
    </body>
</html>