{% extends "base.html" %}

{%block content%}

    <div class="title">
        <h1>Mis Movimientos</h1>
    </div>

    {% if movements != [] %}
        <table>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>From</th>
                <th>Q</th>
                <th>To</th>
                <th>Q</th>
                <th>P.U</th>
            </tr>
            {% for movement in movements %}
            <tr>
                <td>{{ movement.date }}</td>
                <td>{{ movement.time }}</td>
                <td>{{ movement.moneda_from }}</td>
                <td>{{ movement.cantidad_from }}</td>
                <td>{{ movement.moneda_to }}</td>
                <td>{{ movement.cantidad_to }}</td>
                <td>{% if movement.moneda_from == "EUR" %} {% if (movement.cantidad_from / movement.cantidad_to).is_integer() %}  {{ (movement.cantidad_from / movement.cantidad_to)| int }} {% else %} {{ "%.2f" | format((movement.cantidad_from / movement.cantidad_to)| float )}} {% endif %} € {% else %} {{ movement.cantidad_from / movement.cantidad_to }} {{ movement.moneda_from }} {% endif %}</td><!--esto es para mostrar en símbolo € con solo los decimales -->
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <div class="sin-mov">
        <p>SIN MOVIMIENTOS</p><!--si está vacio muestra sin movimientos-->
    </div>    
    {% endif %}

{%endblock%}